@charset "UTF-8";
#banner {
    height: 650px;
    /*line-height: 400px;*/
    
}
#contents {
    height: 665px;
}

#content1 {
    height: 0px;
}
#content2 {
    height: 300px;
}
#content3 {
    height: 365px;
    background-color: #f4f4f4;
}
/* 컨테이너 */
.container {
    width: 1300px;
    margin: 0 auto;
    height: auto;
    background: rgba(255, 255, 255, 0.3);
}

/* 배너 이미지 */
.container .banner .banner_img{
    padding-top: 20px;
    width: 1300px;
    height: auto;
    text-align: center !important;
    overflow: hidden;
}
#grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.container .block{
    color: black;
}
.container .block img{
    width: 200px; height: 200px;
    padding-top: 15px;
}
#review{
    width: 300px;
    height: 350px;
}