@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}

body, input, textarea, button, table{
	font-family: 'RixGo L';
	font-size: 14px; line-height: 1.5;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
button{
    border-radius: 4px;
    background-color: #1F2124;
    border-color: #ffffff;
    color: #ffffff;
    width: 100px;
    height: 33px;
    font-weight: bold;
}
button:hover{
    background-color: #ffffff;
    color: #000000;
}