@charset "utf-8";

@media (max-width: 375px) {
    #category{
        font-size: 14px;
        line-height: 70px;
        text-align: center;
    }
    
    #category-3 > a > img{
        width: 100px;
        height: 30px;
    }
    #category-1{
        font-size: 12px;
        padding: 30px 0px;
        float: left;
    }

    #category-1 > a{
        padding:0px 6px;
        color: white;
    }

    #category-1 > a:hover{
        color: white;
    }

    #category-2{
        float: right;
        padding: 30px 0px;
    }

    #category-2 > a{
        color: white;
        padding: 3px;
    }
}

@media (min-width:376px){
    /*헤더 고정(sticky header)*/
    .sticky {
      position: fixed;
      z-index: 2;
      top: 0;
      width: 100%;
    }

    .sticky + .contents {
      padding-top: 102px;
    }
    
     /* 상단 카테고리 */
    #category{
        font-size: 14px;
        line-height: 70px;
    }
    
    #logo{
        width: 100px;
        height: auto;
        float: left;
        margin: 20px 0px;
    }
    
    #category-1{
        float: left;
        margin: 0px 70px;
    }

    #category-1 > a{
        padding: 20px;
        color: white;
    }

    #category-1 > a:hover{
        color: white;
    }

    #category-2{
        float: right;
        margin: 0px 70px;
    }

    #category-2 > a{
        color: white;
        text-transform: uppercase;
        text-shadow: 0 0 1px rgba(255,255,255,0.3);
        padding: 0px 20px;
    }
    
    
    /*상단 버튼 효과*/
    .cl-effect-1::before,
    .cl-effect-1::after {
        display: inline-block;
        opacity: 0;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
        -moz-transition: -moz-transform 0.3s, opacity 0.2s;
        transition: transform 0.3s, opacity 0.2s;
    }

    .cl-effect-1::before {
        margin-right: 10px;
        content: '[';
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        transform: translateX(20px);
    }

    .cl-effect-1::after {
        margin-left: 10px;
        content: ']';
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    .cl-effect-1:hover::before,
    .cl-effect-1:hover::after,
    .cl-effect-1:focus::before,
    .cl-effect-1:focus::after {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
    }
    /*콘텐츠-높이는 자유롭게 설정하세요*/
    #contents{
        height: auto;
        background: #1F2124;
    }
    
    .container{
        width: 1100px;
        margin: 0 auto;
        height: auto;
    }


   
    /* 하단 */
    #footer-info{
        border-top:1px solid white;
        text-align: center;
    }
    #footer_info1{
        text-align: center;
        font-size: 11px;
        color: white;
    }
    
    #footer_info1 > p > a{
        color: white;
    }

    /*버튼*/
.a_btn{
     display: inline-block;
    width: 115px;
    height: 25px;
    line-height: 25px;
    background: #E3E6E4;;
    padding: 10px;
    
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}
.delete-btn-area{
    text-align: right;
}
button{
    background: #E3E6E4;
    border-style: none;
    margin-right: 3px;
    color:black;
}
    /*컨텐츠 정보*/
.container .top_info{
    margin-bottom: 15px;
 border: 1px solid #222121;

}
.main-session{
    padding-bottom: 10px;
}
/*컨텐츠 하단*/
.container .total_product{
    font-size: 13px;
    margin: 0;
    padding: 0; 
    
}
.container .total_product .info{
        padding: 5px;
    margin:5px;
}
/*테이블*/
.cart_table
{
    border-top: 1px solid white; border-spacing: 0; border-collapse: collapse; border-bottom: 1px solid white;
    text-align: center;
    padding-bottom: 30px;
    background-color: #1F2124;
    
    
}
.cart_table caption{
    caption-side: bottom;display: none;
}
.txt_origin_price
{
    text-decoration:line-through;
    font-weight: 1000;
    font-size: 15px;
}
    tbody{
        border-top:1px solid white;
    }
    /*컨텐트 레이아웃 */
    #content-top {
    height: 50px;
    line-height: 50px;
           background-color: #1F2124;
    
        


}
#content-session{
    height:auto;
       background-color: #1F2124;
    
}
#content_footer{
    height:300px;
    line-height: 35px;
    background-color: #1F2124;
     
}
#content_footer>.container{
  
    border-bottom: 1px solid white;
}

}